Repository apache/shiro, pull requests merged in 2023-01, with the labels that each got.

#574 [SHIRO-900] Refactor and update pom.xml
  .gitignore
  pom.xml
  samples/web-jakarta/pom.xml
Labels: shiro-2.0.0, dependencies

#657 [SHIRO-904] Update baseline to JDK 11 minimum
  .github/workflows/maven.yml
  .jenkins.groovy
  pom.xml
Labels: shiro-2.0.0, github_actions

#696 [SHIRO-849] Add cache module for JCache
  pom.xml
  support/features/src/main/resources/features.xml
  support/jcache/pom.xml
  support/jcache/src/main/java/org/apache/shiro/cache/jcache/JCacheManager.java
  support/jcache/src/main/resources/META-INF/NOTICE
  support/jcache/src/test/groovy/org/apache/shiro/cache/jcache/JCacheManagerTest.groovy
  support/pom.xml
Labels: java
