Repository apache/shiro, pull requests merged in 2023-06, with the labels that each got.

#944 [#942] Fix flaky test; update snakeyaml for test app
  integration-tests/jaxrs/app/pom.xml
  integration-tests/jaxrs/app/src/main/java/org/apache/shiro/testing/jaxrs/app/dao/InMemoryStormtrooperDao.java
Labels: tests

#955 [GH-904] Add Spring 6-related exclusions to Shiro BOM
  bom/pom.xml
  pom.xml
  samples/pom.xml
  support/spring-boot/spring-boot-web-starter/pom.xml
Labels: shiro-2.0.0, java, spring

#961 [GH-896] Added JPMS module names to JAR manifests
  cache/pom.xml
  config/core/pom.xml
  config/ogdl/pom.xml
  core/pom.xml
  crypto/cipher/pom.xml
  crypto/core/pom.xml
  crypto/hash/pom.xml
  crypto/support/hashes/argon2/pom.xml
  crypto/support/hashes/bcrypt/pom.xml
  event/pom.xml
  integration-tests/jaxrs/meecrowave/pom.xml
  integration-tests/jaxrs/openliberty/pom.xml
  integration-tests/jaxrs/tests/pom.xml
  integration-tests/meecrowave-support/pom.xml
  integration-tests/support/pom.xml
  lang/pom.xml
  pom.xml
  samples/aspectj/pom.xml
  samples/quickstart-guice/pom.xml
  samples/quickstart/pom.xml
  samples/spring-boot-web/pom.xml
  samples/spring-boot/pom.xml
  samples/spring/pom.xml
  support/aspectj/pom.xml
  support/cdi/pom.xml
  support/ehcache/pom.xml
  support/guice/pom.xml
  support/hazelcast/pom.xml
  support/jakarta-ee/pom.xml
  support/jaxrs/pom.xml
  support/jcache/pom.xml
  support/quartz/pom.xml
  support/servlet-plugin/pom.xml
  support/spring-boot/spring-boot-starter/pom.xml
  support/spring-boot/spring-boot-web-starter/pom.xml
  support/spring/pom.xml
  tools/hasher/pom.xml
  web/pom.xml
Labels: shiro-2.0.0, core
