Repository apache/shiro, pull requests merged in 2024-04, with the labels that each got.

#1407 [#SHIRO-875] Fix creating subjects with disabled session-creation
  core/src/main/java/org/apache/shiro/mgt/DefaultSecurityManager.java
  core/src/test/java/org/apache/shiro/mgt/DefaultSecurityManagerTest.java
Labels: java

#1425 [#1424] [Enhancement] Made Jakarta EE IniEnvironment more flexible
  support/jakarta-ee/src/main/java/org/apache/shiro/ee/filters/FormResubmitSupport.java
  support/jakarta-ee/src/main/java/org/apache/shiro/ee/filters/ShiroFilter.java
  support/jakarta-ee/src/main/java/org/apache/shiro/ee/listeners/IniEnvironment.java
Labels: java, CLA, jakartaee

#1429 [#1424] Add generic way to decorate SecurityManager
  core/pom.xml
  core/src/main/java/org/apache/shiro/SecurityUtils.java
  core/src/main/java/org/apache/shiro/mgt/WrappedSecurityManager.java
  core/src/test/java/org/apache/shiro/SecurityUtilsUnwrapTest.java
  support/jakarta-ee/src/main/java/org/apache/shiro/ee/filters/FormResubmitSupport.java
  support/jakarta-ee/src/main/java/org/apache/shiro/ee/filters/ShiroFilter.java
Labels: java, jakartaee, core
