Repository apache/shiro, pull requests merged in 2024-08, with the labels that each got.

#1582 [#1548] - redefines PrincipalCollection interface to be intended as immutable
  core/src/main/java/org/apache/shiro/authc/SimpleAuthenticationInfo.java
  core/src/main/java/org/apache/shiro/subject/ImmutablePrincipalCollection.java
  core/src/main/java/org/apache/shiro/subject/MutablePrincipalCollection.java
  core/src/main/java/org/apache/shiro/subject/PrincipalCollection.java
  core/src/main/java/org/apache/shiro/subject/SimplePrincipalCollection.java
  core/src/test/java/org/apache/shiro/subject/ImmutablePrincipalCollectionTest.java
Labels: CLA, core

#1630 Fix deprecation warnings
  core/src/main/java/org/apache/shiro/authc/SimpleAccount.java
  core/src/main/java/org/apache/shiro/authc/SimpleAuthenticationInfo.java
  core/src/main/java/org/apache/shiro/subject/ImmutablePrincipalCollection.java
  core/src/main/java/org/apache/shiro/subject/MutablePrincipalCollection.java
  core/src/main/java/org/apache/shiro/subject/PrincipalCollection.java
  core/src/main/java/org/apache/shiro/subject/SimplePrincipalCollection.java
  core/src/main/java/org/apache/shiro/subject/SimplePrincipalMap.java
  core/src/test/java/org/apache/shiro/authc/SimpleAuthenticationInfoTest.java
  core/src/test/java/org/apache/shiro/authc/credential/HashedCredentialsMatcherTest.java
  core/src/test/java/org/apache/shiro/authc/pam/FirstSuccessfulStrategyTest.java
  core/src/test/java/org/apache/shiro/mgt/DefaultSecurityManagerTest.java
  core/src/test/java/org/apache/shiro/realm/AuthorizingRealmTest.java
  core/src/test/java/org/apache/shiro/realm/activedirectory/ActiveDirectoryRealmTest.java
  core/src/test/java/org/apache/shiro/realm/text/TextConfigurationRealmTest.java
  core/src/test/java/org/apache/shiro/subject/DelegatingSubjectTest.java
  core/src/test/java/org/apache/shiro/subject/ImmutablePrincipalCollectionTest.java
  core/src/test/java/org/apache/shiro/subject/SimplePrincipalCollectionTest.java
  integration-tests/jakarta-ee/src/main/java/org/apache/shiro/testing/jakarta/ee/PropertyRealm.java
  integration-tests/jakarta-ee/src/main/java/org/apache/shiro/testing/jaxrs/TestApplication.java
  support/spring/src/test/java/org/apache/shiro/spring/security/interceptor/AbstractAuthorizationAnnotationTest.java
  web/src/test/java/org/apache/shiro/web/mgt/DefaultWebSecurityManagerTest.java
Labels: java, core, 3.x

#1581 [#1499] - Deleted Quartz module.
  support/pom.xml
  support/quartz/src/main/java/org/apache/shiro/session/mgt/quartz/QuartzSessionValidationJob.java
  support/quartz/src/main/java/org/apache/shiro/session/mgt/quartz/QuartzSessionValidationScheduler.java
  support/quartz/src/main/java/org/apache/shiro/session/mgt/quartz/package-info.java
  support/quartz/src/main/resources/META-INF/NOTICE
  test-coverage/pom.xml
Labels: CLA, 3.x
